<textarea cols="5" rows="5" class="form-control" data-ng-model="input"></textarea>

<div style="margin-top:10px; margin-bottom:10px;">
    <div class="input-group">
        <input class="form-control"  data-ng-model="term" placeholder="Zoek naar term">
        <div class="input-group-btn">
            <button data-ng-click="calculatePath()" class="pull-right btn btn-primary">Generate</button>
        </div>
    </div>
</div>


<input data-ng-disabled="true" data-ng-model="outcome" class="form-control">

<div class="btn-group" style="margin-top:10px;">
    <button class="btn btn-primary" data-ng-click="fetchC1();">Challenge 1</button>
    <button class="btn btn-primary" data-ng-click="fetchC2();">Challenge 2</button>
</div>
